<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.treebear.kwifimanager">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 联网权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- WIFI控制及相关权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.gallery.GalleryBackupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.gallery.FullImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.MyChildrenListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.report.WeekReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.parent.NewEditTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.parent.LimitTimeControlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.parent.TimeControlPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.parent.ChooseControlMobileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.parent.ChooseBanAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.parent.BanAppPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.ModifyMobileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.ModifyNickNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.UpdateAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.mobile.MobileInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.mobile.MobileDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.mobile.AllMobileListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.toolkit.SeniorSettingItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.toolkit.DHCPServerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.toolkit.LanSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.toolkit.OnlineSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.toolkit.SeniorWifiSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.toolkit.GuardDeviceJoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.toolkit.WifiToolkitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.myk.UpdateDeviceVersionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.myk.MyDeviceListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.time.ModifyTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.healthy.HealthyModelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.parent.TimeControlListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.parent.BanAppListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.parent.ParentControlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.message.MessageListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.FamilyMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bindap.settings.ModifyWifiInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bindap.settings.StaticIpOnlineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bindap.settings.DialUpOnlineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bindap.settings.ChooseNetworkStyleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bindap.BindAction1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.account.ForgetPwdSetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.account.ForgetPwdCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.account.VerifySignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.account.GetVerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.account.SetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.account.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.account.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebsiteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.myk.SelectXiaoKActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.account.LaunchAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="${UMENG_MESSAGE_SECRET}" />

        <receiver
            android:name=".receiver.OpenFileReceiver"
            android:permission="android.permission.READ_EXTERNAL_STORAGE">
            <intent-filter>
                <action android:name="${applicationId}.open_file" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".util.MyFileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

        <service android:name=".service.ODownloadService" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>